<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cart</ion-title>
  </ion-navbar>
  <ion-buttons end>
    <ion-item no-lines>
      <p ion-text item-start color="primary">Cart Value</p>
      <p item-end>{{cartVal}}</p>
    </ion-item>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <div *ngIf="items.length">
    <ion-item *ngFor="let i of items">
      <ion-card-title>{{i.Name}}
        <ion-icon name="ios-trash" color="primary" (click)="delItem(i)" float-right></ion-icon>

      </ion-card-title>
      <ion-item no-lines>
        <div item-end>
          <ion-icon name="ios-remove-circle-outline" margin-right (click)="rmQuan(i)"></ion-icon>
          {{i.Quantity}}
          <ion-icon name="ios-add-circle-outline" margin-left (click)="addQuan(i)"></ion-icon>
        </div>
      </ion-item>
      <button ion-button float-right round >Place Order</button>
    </ion-item>
  </div>
  <ion-card *ngIf="!items.length">
    <ion-card-content>
      <img src="assets/imgs/empty-cart.png" class="emptyCart" />
    </ion-card-content>
  </ion-card>



</ion-content>